<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Roll No</th>
                    <th scope="col">Admission No</th>
                    <th scope="col">College</th>
                    <th scope="col">Department</th>
                    <th scope="col">Bloodgroup</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Parent Name</th>
                    <th scope="col">Parent Email</th>
                    <th scope="col">Guardian Name</th>
                    <th scope="col">Guardian Address</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of studentData">
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.rollno}}</td>
                    <td>{{i.admno}}</td>
                    <td>{{i.college}}</td>
                    <td>{{i.department}}</td>
                    <td>{{i.bloodgroup}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.parentname}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.guardianname}}</td>
                    <td>{{i.address}}</td>
                    <td><button class="btn btn-success" (click)="deleteStudents(i.id)">Delete</button></td>
                  </tr>
                  
                
                </tbody>
              </table>
        </div>
    </div>
</div>